<div>
    <div>
        <h1><%-title-%></h1>
        <%- messages() %>
    </div>
    <div>
        <form id="account_login">
            <fieldset>
                <div class="form_part">
                    <label>
                        <p>Email:</p>
                        <input type="email">
                    </label>
                </div>
                <div class="form_part">
                    <label>
                        <p>Password:</p>
                        <input type="password">
                    </label>
                    <button class="login_button">LOGIN</button>
                    <p class="login_signup_message">No account? <a href="/account/register">Sign-up</a>
                </div>
                
            </fieldset>
        </form>

    </div>
</div>