

/* mobile css */

@media screen and (max-width: 600px){

    #index-hero h1 {
        font-size: 6vw;
    }


body {
    display: flex;
    justify-content: center;
    background-image: unset
    /* height: 100vh; */
  
  }
  
  body > div {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
    /* max-width: 100vw; */
    /* height: 90vh; */
    width: 98vw;
    background-color: var(--white-color);
  }

nav {
    justify-content:flex-start;
}

nav ul {
    justify-content: flex-start;
    
}

nav li {
    font-size: .7rem;
}

    #index-content {
        flex-direction: column;
    }
.index-car-upgrades {

    order: 2;
}

.index-car-reviews li {
    padding: 0;
}

.index-car-reviews {
    order: 1;
}

.index-car-reviews {
    margin: 0;
}

.index-car-reviews ul {
    margin-left: 1rem;
}

.index-upgrade-card > div{
min-width: unset;
}

#index-hero-description { 
    left: 0;
}

#index-hero-description p {
    font-size: 1rem;
}

#index-hero-image-container img {
    max-width: 250px;
}
.index-car-upgrade-cards {
    justify-content: flex-start;
    align-items: flex-start;
    
}

.index-upgrade-card {
    justify-content: flex-end;
    align-items: flex-start;
}
}